<h2>Transactions</h2>

<% if(transactions.length == 0) {%>

  <h4>No transactions yet.</h4>

<% } else { %>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Address</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Confirmations</th>
        <th>Date</th>
        <th></th>
    </thead>
    <tbody>
      <% for(var i=0; i<tx.length; i++) { %>
        <tr>
          <td><%= tx[i].address %></td>
          <td><%= tx[i].category == 'send' ? 'Sent by you' : 'Received by you' %></td>
          <td><%= tx[i].amount %> BTC</td>
          <td>
            <%= tx[i].confirmations %>
            
            <% if(tx[i].confirmations < coinpunk.controllers.dashboard.minimumSendConfirmations) { %>
              <span class="label label-info pull-right">Pending</span>
            <% } else { %>
              <span class="label label-success pull-right">Confirmed</span>
            <% } %>
          </td>
          <td><%= tx[i].timereceived %></td>
          <td><a href="#/transactionDetails/<%= tx[i].txid %>">Details</a></td>
      <% } %>
    </tbody>
  </table>
  


<% } %>


<!--
table.table.table-bordered.table-striped.table-hover
  thead
    tr
      th Address
      th Type
      th Amount
      th Confirmations
      th Date
      th
    tbody
      - @transactions.each do |transaction|
        tr
          td = transaction['address']
          td = transaction['category'] == 'send' ? 'Sent' : 'Received'
          td #{format_amount transaction['amount']} BTC
          td #{transaction['confirmations']} #{{transaction['confirmations'] < TransactionsController::MINIMUM_SEND_CONFIRMATIONS ? '<span class="label label-info pull-right">Pending</span>' : '<span class="label label-success pull-right">Done</span>'}}
          th = timestamp_to_formatted_time transaction['timereceived']
          th: a href="/transactions/#{transaction['txid']}" Details
-->