<div class="row text-center">
  <div class="col-lg-8 col-lg-offset-2">
    <h1>Transaction Detail</h1>
    <table class="table table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <td>Transaction ID (TXID)</td>
          <td><%= tx.txid %></td>
        </tr>
        <tr>
          <td>Amount</td>
          <td><%= tx.amount %></td>
        </tr>
        <tr>
          <td>Confirmations</td>
          <td>
            <%= tx.confirmations %>&nbsp;&nbsp;&nbsp;&nbsp;
            <% if(tx.confirmations < coinpunk.controllers.dashboard.minimumSendConfirmations) { %>
              <span class="label label-info">Pending</span>
            <% } else { %>
              <span class="label label-success">Confirmed</span>
            <% } %>
          </td>
        </tr>
        <tr>
          <td>Blockhash</td>
          <td><%= tx.blockhash %></td>
        </tr>
        <tr>
          <td>Blockindex</td>
          <td><%= tx.blockindex %></td>
        </tr>
        <tr>
          <td>Blocktime</td>
          <td><%= coinpunk.controllers.tx.friendlyTimeString(tx.blocktime) %></td>
        </tr>
        <tr>
          <td>Time</td>
          <td><%= coinpunk.controllers.tx.friendlyTimeString(tx.time) %></td>
        </tr>
        <tr>
          <td>Time Received</td>
          <td><%= coinpunk.controllers.tx.friendlyTimeString(tx.timereceived) %></td>
        </tr>
        <tr>
          <td>Details</td>
          <td>
            
            <% 
              for (var key in tx.details) {
                var obj = tx.details[key];
                for (var prop in obj) {
                  if(obj.hasOwnProperty(prop)) { %>
                    <% console.log(prop + " = " + obj[prop]); %>
                    <strong><%= prop.charAt(0).toUpperCase() + prop.slice(1) %>:</strong><br><%= obj[prop] %>
                    
                    <% if(prop == 'amount') { %>
                      BTC
                    <% } %>
                    
                    <br>
            <%    
                   }
                 }
               } 
            %>
          </td>
        </tr>
    </table>
    
    <a href="#/dashboard" class="btn btn-large btn-info">Back<a>
  </div>
</div>